<div class="div-discussionBox">
  <div class="div-userImg">
    <a href="/profile/{{this.user_id}}">
      <img class="img-userImage" src="{{this.image_url}}">
    </a>
  </div>
  <div class="div-titlebox">
    <div class="div-discussionName">{{this.subject}}</div>
    <div class="div-subjectTopic">
      <span class="span-topic">Topic</span>
    </div>
  </div>
  <p class="p-descriptionText">{{this.message}}</p>
  <div class="div-date">
    {{this.timestamp}}
  </div>
  <div class="div-replyNum" onclick="toggle_replies(this)">{{this.replies}} Replies</div>
  {{>post_replies this}}
</div>