<div class="div-userDesc">
    <div class="div-userInfo">
        <img class="img-userPic" src="{{userDetails.image_url}}">
        <p class="p-username">{{userDetails.first_name}} {{userDetails.last_name}}</p>
        <p class="p-desc">{{userDetails.about}}</p>
    </div>
    <div class="div-userStats">
        <ul>
            <li><a href="/posts/">Posts</a><span> {{userDetails.postCount}}</span></li>
            <li><a href="/messages/">Messages</a><span> {{userDetails.messageCount}}</span></li>
            <li>Likes<span> {{userDetails.profileLikes}}</span></li>
            <li class="li-edit"><a href="/profile/edit/">Edit Profile</a></li>
        </ul>
    </div>
</div>